/* b{}[] */

/* Nokia 6 : 360x640 */

* {
  margin: 0;
  padding: 0;
}

/* h1{
  margin: 10px auto;
  width: 50%;
} */

.tb {
  display: inline-block;
  width: 100%;
  font-weight: bold;
}

#table {
  color: white;
}

#myInput {
  margin: 15px 10px 6px 10px;
  width: 90%;
  height: 39px;
  justify-content: center;
  font-size: 25px;
  padding: 0 40px;
  border-radius: 8px;
  border: none;
  box-shadow: 5px 5px 75px black;
}
